<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.modumessenger">

    <application
        android:name=".Global.App"
        android:allowBackup="true"
        android:icon="@mipmap/modu_ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ModuMessenger"
        android:usesCleartextTraffic="true">

        <!-- activities -->
        <activity android:name=".Activity.LoginActivity" />
        <activity android:name=".Activity.MainActivity" />
        <activity android:name=".Activity.ProfileActivity" />
        <activity android:name=".Activity.ProfileEditActivity" />
        <activity android:name=".Activity.SearchActivity" />
        <activity android:name=".Activity.ChatActivity" android:windowSoftInputMode="adjustPan" android:theme="@style/AppTheme"/>
        <activity android:name=".Activity.CreateRoomActivity" />
        <activity android:name=".Activity.InviteActivity" />
        <activity android:name=".Activity.ChatRoomEdit" />
        <activity android:name=".Activity.AppInfoActivity" />
        <activity android:name=".Activity.SetFriendsActivity" />
        <activity android:name=".Activity.FindFriendsActivity" />
        <activity android:name=".Activity.SetupActivity" />

        <activity
            android:name=".Activity.SplashActivity"
            android:theme="@style/SplashTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <!-- permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>